<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio do Marcus</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/fontAwesome.css">
</head>

<body>

    <nav>
        <div class="logo">
            <img src="../static/img/marcus-logo.png" alt="">
        </div>
        <ul>
            <li><a href="#1"><i class="fa fa-home"></i> <em>Inicio</em></a></li>
            <li><a href="#2"><i class="fa fa-user"></i> <em>Habilidades</em></a></li>
            <li><a href="#3"><i class="fa fa-image"></i> <em>Projetos</em></a></li>
            <li><a href="#4"><i class="fa fa-envelope"></i> <em>Contato</em></a></li>
        </ul>
    </nav>

    <section class='slides'>
        <section class="slide" id="1">
            <div class="content first-content">
                <div>
                    <div class="foto-autor"><img src="../static/img/marcus.png" alt="Foto do Autor"></div>
                </div>
                <div>
                    <p>Meu nome é Marcus, tenho 24 anos e moro em Ananindeua no Estado do Pará. Sou formado em
                        Licenciatura em Matemática pela Universidade do Estado do Pará e atualmente estudo
                        programação na Blue EdTech. Gosto de aprender, ensinar e pretendo mudar a vida de pessoas
                        através da programação.</p>
                </div>
            </div>
        </section>
        <section class="slide" id="2">
            <div class="content second-content">
                <div id="habilidades">
                    <h2>Habilidades Técnicas</h2>

                    <p>Python</p>
                    <div>
                        <span id="python">60%</span>
                    </div>

                    <p>JavaScript</p>
                    <div>
                        <span id="js">40%</span>
                    </div>

                    <p>HTML 5</p>
                    <div>
                        <span id="html">30%</span>
                    </div>

                    <p>CSS 3</p>
                    <div>
                        <span id="css">10%</span>
                    </div>

                    <p>Flask</p>
                    <div>
                        <span id="flask">20%</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide" id="3">
            <div class="content third-content">
                <div>
                    <img src="../static/img/python-logo.png" alt="">
                    <h2>Jokenpo</h2>
                    <p>Esse projeto foi desenvolvido em Python no módulo de Lógica de Programação da Blue EdTech. O
                        jogo
                        consiste na antiga brincadeira de pedra, papel e tesoura (jokenpo, como é conhecida
                        mundialmente).</p>
                    <a href="https://github.com/marcusvinysilva/jokenpo.git" target="_blank"><button>Veja
                            mais</button></a>
                </div>

                <div>
                    <img src="../static/img/python-logo.png" alt="">
                    <h2>Simulador de Votação</h2>
                    <p>Esse projeto foi desenvolvido em Python no módulo de Lógica de Programação da Blue EdTech. A
                        ideia foi
                        densenvolver um simulador de votação e no fim mostrar qual candidato ganhou a eleição.</p>
                    <a href="https://github.com/marcusvinysilva/simulador-de-votacao.git" target="_blank"><button>Veja
                            mais</button></a>
                </div>

                <div>
                    <img src="../static/img/python-logo.png" alt="">
                    <h2>Jogo de Ficção Interativa</h2>
                    <p>Esse projeto foi desenvolvido em Python no módulo de Lógica de Programação da Blue EdTech.
                        Tive ajuda de
                        duas colegas do curso e a ideia foi fazer uma história interativa na qual o usuário
                        definiria o rumo da
                        história.</p>
                    <a href="https://github.com/marcusvinysilva/jogo-ficcao-interativa.git" target="_blank"><button>Veja
                            mais</button></a>
                </div>
            </div>
        </section>
        <section class="slide" id="4">
            <div class="content fouthr-content">
                <section id="contato">

                    <div id="redes">
                        <h3>Conecte-se comigo</h3>
                        <a href="https://www.linkedin.com/in/marcusvinysilva/" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>

                        <a href="https://github.com/marcusvinysilva" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>

                        <a href="https://www.instagram.com/marcusvinysilva/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>

                    <h3>Mande uma mensagem</h3>

                    <form action='/send' method="POST">
                        <label for="nome">Nome</label>
                        <input type="text" placeholder="Digite seu nome" id="nome" name="nome">

                        <label for="email">E-mail</label>
                        <input type="email" placeholder="Digite seu email" id="email" name="email">


                        <label for="mensagem">Mensagem</label>
                        <textarea name="mensagem" id="mensagem" cols="30" rows="10"
                            placeholder="Digite sua mensagem"></textarea>

                        <button type="submit" id="enviar">Enviar</button>

                    </form>

                    <div id="carregamento">
                        <p>Enviando mensagem</p>
                        <div id="loader"></div>
                    </div>
                </section>

            </div>
        </section>

    </section>

    <footer class="footer">
        <div class="content">
            <p>Copyright &copy; 2021 Marcus Silva</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../static/js/datepicker.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/form.js"></script>

</body>

</html>